---
import img1 from '../images/avatar.jpg';
import dog1 from '../images/dog-image-1.jpg';
import dog2 from '../images/dog-image-2.jpg';
import dog3 from '../images/dog-image-3.jpg';
---
<div class="relative mx-auto border-pwhite border-[14px] rounded-[2.5rem] h-[37.5rem] w-[18.75rem] shadow-xl">
    <div class="w-[9.25rem] h-[1.125rem] bg-pwhite top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute">
    </div>
    <div class="rounded-[2rem] overflow-hidden w-[17rem] h-[35.75rem] bg-plgviolet">
        <div class="bg-gradient-to-r from-plviolet to-plmagenta pt-8 pb-3 rounded-e-lg rounded-s-lg">
            <div class="px-5 flex gap-2">
                <img class="size-8 rounded-full border border-pwhite" src={img1.src} alt="">
                <div class="leading-3 text-xs text-pwhite">
                    <p class="font-medium text-sm">Samuel Green</p>
                    <span class="font-thin text-pwhite/50">Avaible to walk</span>
                </div>
            </div>

        </div>
        <div class="px-3 py-3 flex flex-col gap-2">
            <div class="text-xs/3 bg-plviolet/10 w-3/4 p-2 rounded-xl">
                <p class="text-plviolet/70">That sounds great . I'd be happy with that.</p>
            </div>

            <div class="text-xs/3 bg-plviolet/10 w-3/4 p-2 rounded-xl">
                <p class="text-plviolet/70">Could you send over some pictures of your dog. please?</p>
            </div>

            <div class="text-xs text-pvddviolet/70 flex flex-col gap-2 items-end">

                <div class="flex gap-2">
                    <img class="rounded-xl size-14" src={dog1.src} alt="">
                    <img class="rounded-xl size-14" src={dog2.src} alt="">
                    <img class="rounded-xl size-14" src={dog3.src} alt="">
                </div>

                <div class="bg-pwhite w-3/4 p-2 rounded-xl">
                    <p>How are a few pictures. She's a happy girl!</p>
                </div>

                <div class="bg-pwhite w-1/2 p-2 rounded-xl">
                    <p>Can you make it ?</p>
                </div>
            </div>

            <div class="text-xs/3 bg-plviolet/10 w-3/4 p-2 rounded-xl">
                <p class="text-plviolet/70">She looks so happy! The time we discussed works. How long shall I take her out for?</p>
            </div>

            

            <div class="bg-gradient-to-r from-plmagenta to-plviolet text-pwhite flex items-center justify-between w-10/12 p-2 rounded-es-sm rounded-e-xl  rounded-ss-xl">
                <div class="flex gap-2 items-center">
                    <div class="rounded-full size-5 border-2 border-pwhite/30"></div>
                    <p class="text-xs text-pwhite/80 font-light">30 minute walk</p>
                </div>
                <p class="text-lg mr-2 font-semibold">$29</p>
            </div>

            <div class="bg-gradient-to-r from-plmagenta to-plviolet text-pwhite flex items-center justify-between w-10/12 p-2 rounded-es-sm rounded-e-xl  rounded-ss-xl">
                <div class="flex gap-2 items-center">
                    <div class="rounded-full size-5 border-2 border-pwhite/30"></div>
                    <p class="text-xs text-pwhite/80 font-light">1 hour walk</p>
                </div>
                <p class="text-lg mr-2 font-semibold">$49</p>
            </div>


            <div class="bg-pwhite py-3 px-3 text-xs rounded-3xl relative mt-2">
                <p class="text-pvddviolet/30">Type a meesage ...</p>
                <div class="rounded-full bg-pvddviolet size-8 absolute right-2 top-1 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-right" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M13 7h-6l4 5l-4 5h6l4 -5z" />
                      </svg>
                </div>
            </div>
        </div>
        
    </div>
</div>

















<!--
<div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px] shadow-xl">
    <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-2-light.png" class="dark:hidden w-[272px] h-[572px]" alt="">
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-2-dark.png" class="hidden dark:block w-[272px] h-[572px]" alt="">
    </div>
</div>

-->